body {
	font-family: 'PT Sans', sans-serif;
	color: #000;
	font-size: 16px;
	letter-spacing: 0.015em;
}

p {
	margin: 0 0 1em;
}

.container {
	text-align: center; 
	max-width: 900px;
}
.row {
	text-align: left;
	width: 100%;
}
.header {
	text-align: right;
}
.header h1 {
	font-size: 150%;
	color: #888;
}
.header h2 {
	font-size: 100%;
}
.header a { color: #888; }
.header a:hover { color: #555; }
h1, h2, h3, h4 , h5 {
	font-family: 'Cinzel', serif;
}
.footer {
	text-align: right;
}
ul.posts {
	list-style-type: none;
}
ul.posts li span {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #888;
}
hr {
	border-top: 3px dashed #eee;
	border-bottom: none;
}

.twitter-link {
	float: right;
}

.well.pull-left {
	margin-right: 1em;
}
.well.pull-right {
	margin-left: 1em;
}

img.pull-right {
	float: right;
	border: 1px solid #888;
	margin: 0 0 1em 1em;
}
img.pull-left {
	float: left;
	border: 1px solid #888;
	margin: 0 1em 1em 0;
}

table {
	margin: 0 0 10px;
}
table, th, td {
	border: 1px solid #eee;
}
th, td {
	padding: 10px;
}

