body {
	font-family: 'PT Sans', sans-serif;
}
.container {
	text-align: center; 
	max-width: 900px;
}
.row {
	text-align: left;
	width: 100%;
}
.header {
	text-align: right;
}
.header h1 {
	font-size: 150%;
	color: #888;
}
.header h2 {
	font-size: 100%;
}
.header a { color: #888; }
.header a:hover { color: #555; }
h1, h2, h3, h4 , h5 {
	font-family: 'Cinzel', serif;
}
.footer {
	text-align: right;
}
ul.posts {
	list-style-type: none;
}
ul.posts li span {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #888;
}
hr {
	border-top: 3px dashed #eee;
	border-bottom: none;
}

.twitter-link {
	float: right;
}

.well.pull-left {
	margin-right: 1em;
}